<?xml version="1.0"?>
<!--
	/**
	* SMTP Pro integration.
	*
	* @package    Aschroder_SMTPPro
	* @author     Ashley Schroder (aschroder.com)
	*/
-->
<config>
	<modules>
		<Aschroder_SMTPPro>
			<version>1.4.4</version>
		</Aschroder_SMTPPro>
	</modules>
	<frontend>
		<routers>
  			<smtppro>
  				  <use>standard</use>
   				 <args>
   				   <module>Aschroder_SMTPPro</module>
   				   <frontName>smtppro</frontName>
   				 </args>
  			</smtppro>
		</routers>
  	</frontend>
	<global>
		<helpers>
			<smtppro><class>Aschroder_SMTPPro_Helper</class></smtppro>
		</helpers>
		<blocks>
			<smtppro>
				<class>Aschroder_SMTPPro_Block</class>
			</smtppro>
		</blocks>
		<models>
            <smtppro>
                <class>Aschroder_SMTPPro_Model</class>
				<resourceModel>smtppro_mysql4</resourceModel>
            </smtppro>
             <smtppro_mysql4>
                <class>Aschroder_SMTPPro_Model_Mysql4</class>
                <entities>
                    <email_log><table>smtppro_email_log</table></email_log>
                </entities>
            </smtppro_mysql4>
			<newsletter>
				<rewrite>
					<template>Aschroder_SMTPPro_Model_Newsletter_Template</template>
				</rewrite>
			</newsletter>
			<core>
				<rewrite>
					<email>Aschroder_SMTPPro_Model_Email</email>
					<email_template>Aschroder_SMTPPro_Model_Email_Template</email_template>
				</rewrite>
			</core>
		</models>
		<resources>
			<smtppro_setup>
				<setup>
					<module>Aschroder_SMTPPro</module>
					<class>Aschroder_SMTPPro_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</smtppro_setup>
			<smtppro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </smtppro_write>
            <smtppro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </smtppro_read>
		</resources> 
		<events>
            <log_log_clean_after>
                <observers>
                    <smtppro_email_log_clean>
                        <type>singleton</type>
                        <class>smtppro/observer</class>
                        <method>cleanOldLogs</method>
                    </smtppro_email_log_clean>
                </observers>
            </log_log_clean_after>



            <!-- // SMTP Modules BEGIN // -->
            <aschroder_smtppro_template_before_send>
                <observers>
                    <amazonses_before_send_template_observer>
                        <type>singleton</type>
                        <class>smtppro/amazonses_observer</class>
                        <method>beforeSend</method>
                    </amazonses_before_send_template_observer>
                    <googleapps_before_send_template_observer>
                        <type>singleton</type>
                        <class>smtppro/googleapps_observer</class>
                        <method>beforeSend</method>
                    </googleapps_before_send_template_observer>
                    <smtp_before_send_template_observer>
                        <type>singleton</type>
                        <class>smtppro/smtp_observer</class>
                        <method>beforeSend</method>
                    </smtp_before_send_template_observer>
                </observers>
            </aschroder_smtppro_template_before_send>
            <aschroder_smtppro_before_send>
                <observers>
                    <amazonses_before_send_template_observer>
                        <type>singleton</type>
                        <class>smtppro/amazonses_observer</class>
                        <method>beforeSend</method>
                    </amazonses_before_send_template_observer>
                    <googleapps_before_send_template_observer>
                        <type>singleton</type>
                        <class>smtppro/googleapps_observer</class>
                        <method>beforeSend</method>
                    </googleapps_before_send_template_observer>
                    <smtp_before_send_template_observer>
                        <type>singleton</type>
                        <class>smtppro/smtp_observer</class>
                        <method>beforeSend</method>
                    </smtp_before_send_template_observer>
                </observers>
            </aschroder_smtppro_before_send>
            <!-- // SMTP Modules END // -->

		</events>
	</global>
	<adminhtml>
	   <menu>
            <system>
                <children>
                    <tools>
                        <children>
                            <smtppro translate="title" module="smtppro">
                                <title>SMTPPro - Email Log</title>
                                <action>smtppro/log</action>
                            </smtppro>
                        </children>
                    </tools>
                </children>
            </system>
        </menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<smtppro  translate="title" module="smtppro">
											<title>SMTP Pro Email Settings</title>
										</smtppro>
									</children>
								</config>
					            <tools>
					              <children>
					                <smtppro  translate="title" module="smtppro">
					                  <title>Email Log</title>
					                </smtppro>
					              </children>
					            </tools>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <translate>
            <modules>
                <Aschroder_SMTPPro>
                    <files>
                        <default>Aschroder_SMTPPro.csv</default>
                    </files>
                </Aschroder_SMTPPro>
            </modules>
        </translate>
	</adminhtml>
	<default>
		<smtppro>
			<settings>
				<enabled>0</enabled>
				<store_addresses>0</store_addresses>
				<username></username>
				<password></password>
			</settings>
		</smtppro>
		<system>
			<smtppro>
                <cleanlog>1</cleanlog>
				<log_debug>0</log_debug>
				<cleanlog_after_days>90</cleanlog_after_days>
			</smtppro>
		</system>
	</default>
</config>
